[Unit]
Description=relay
After=docker.service
Requires=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=no
WorkingDirectory=/etc/relay
TimeoutStopSec=10
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
    -p 30000:30000 \
    -e RELAY_MASTER_KEY \
    -e RELAY_STAKER_ADDRESS \
    -e ETH_MAINNET_URL \
    -e POLYGON_URL \
    --mount type=bind,source=/etc/relay,target=/etc/relay \
    --mount type=bind,source=/var/db/relay,target=/var/db/relay \
    relay run --config /etc/relay/config.yaml --global-config /etc/relay/global.config.json

[Install]
WantedBy=multi-user.target
