[Unit]
Description=relay
After=docker.service
Requires=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=no
WorkingDirectory=/etc/relay
ExecStart=/usr/bin/docker run -t --rm --mount type=bind,source=/etc/relay,target=/etc/relay --mount type=bind,source=/var/db/relay,target=/var/db/relay relay run --config /etc/relay/config.yaml --global-config /etc/relay/ton-global.config.json

[Install]
WantedBy=multi-user.target
